:root {
    --prussian-blue: #003349;
    --viridian-green: #00939D;
    --paolo-veronese-green: #009D85;
    --quinacridone-magenta: #934054;
    --dark-salmon: #EAA794;
    --buff: #EED484;
    --true-white: #EEEEEE;
    --night-black: #313131;
    font-family: rawengulksans;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    height: 6%;
    font-size: 1rem;
    text-align: right;
    padding: 0 2%;
    margin: 0;
    background-color: var(--prussian-blue);

}

nav ul {
    list-style-type: none;
    height: 100%;
    width: 95%;
    margin: 0;
    padding-right: 5%;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    font-weight: 800;
    height: 100%;
    padding: 0 3%;
    width: auto;
}

nav ul li a {
    color: var(--true-white);
    text-decoration: none;
    position: relative;
    top: 30%;
}

nav ul li a:link {
    color: var(--true-white);
}

nav ul li a:visited {
    color: var(--dark-salmon);
}

nav ul li a:hover {
    color: var(--buff);
}


body {
    position: relative;
    margin-top: 10%;

}

h2,
h3 {
    background-color: var(--prussian-blue);
    color: var(--true-white);
    font-size: xx-large;
}

.intro {
    position: relative;
    align-items: center;
}

p {
    color: var(--prussian-blue);
    font-size: medium;
    font-weight: 400;
}


.profile-pic {
    float: left;
    width: 200px;
    height: auto;
    border-radius: 3%;
}


@media (min-width: 100px) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 100px) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--buff);
    padding: 12px;
    font-family: rawengulksans;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
}

footer i {
    padding: 16px;
}

footer i:link {
    color: var(--true-white)
}

footer i:visited {
    color: var(--paolo-veronese-green)
}

footer i:hover {
    color: var(--quinacridone-magenta)
}